################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/asp-video-info-helper/bin/Debug/New folder
